<ion-header>
  <ion-toolbar color='primary'>
    <ion-title>チェックインNG</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
     <!-- 写真エリア -->
    <div *ngFor='let photo of this.photos; let index = index'>
      <div class='img-div'>
        <span class="example">・対象写真</span>
      </div>
      <div class='img-div'>
        <img *ngIf='photo.image' [src]='photo.image'/>
      </div>
    </div>
    <ion-card>
      <ion-card-header>
        <ion-card-subtitle>2019年10月01日</ion-card-subtitle>
        <ion-card-title color='danger'>認証できませんでした。</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        初期画面に戻り、再度認証してください。
      </ion-card-content>
    </ion-card>
    <section class='btn-container'>
        <ion-button class='submit-btn upload-btn' (click)='goNextPage()'>
          <label>
              再度チェックイン
          </label>
        </ion-button>
    </section>
</ion-content>