<ion-header>
  <ion-toolbar color='primary'>
    <ion-title>チェックイン</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class='img-div'>
      <img class='image-golf' src='../../assets/imgs/golf.jpg'/>
   </div>
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>2019年10月01日</ion-card-subtitle>
      <ion-card-title>ゴルフ場へようこそ！</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      チェックインボタンを押下して開始してください。
    </ion-card-content>
  </ion-card>
  <section class='btn-container'>
      <ion-button class='submit-btn upload-btn'>
        <label>
            チェックイン開始<input type='file' accept='image/*' (change)='onChangeInput($event, true)'/>
        </label>
      </ion-button>
  </section>
</ion-content>
